.add_item_page {
  margin-top: 65px;
  min-height: 100vh;
  width: 100%;
  padding: 35px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.add_item_page form {
  width: 90%;
  background: #fff;
  padding: 25px;
}
.h_header {
  font-weight: bold;
}
.checks {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 20px 0px 20px 0px;
}
.checks label {
  cursor: pointer;
  margin-right: 7px;
}
.form-panel {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.add-btn {
  height: 45px;
  width: 250px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: green;
}
input[type="file"] {
  display: none;
}
.delete_img_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 10px;
  border: none;
  color: #fff;
  background: rgb(242, 59, 59);
  height: 25px;
  width: 25px;
}
.item-images-panel {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 750px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  gap: 20px;
}
.item-images-panel div {
  position: relative;
}
.currency-panel {
  display: flex;
  gap: 15px;
}
.currency-panel span {
  cursor: pointer;
  transition: all ease 0.3s;
}
.hidden_img_check {
  position: absolute;
  background: #f0f2f5ff;
  color: #333;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80%;
  border-radius: 5px;
  bottom: 20px;
  left: 20px;
}
.flag_img {
  border-radius: 3px;
  border: 1px solid #333;
}
.img-box {
  width: 200px;
  border-radius: 12px;
  cursor: grab;
}
.img-box img {
  width: 100%;
  min-width: 170px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
@media screen and (max-width: 1560px) {
  .add_item_page form {
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .form-panel {
    width: 100%;
  }
}
