.add_item_page {
  margin-top: 65px;
  min-height: 100vh;
  width: 100%;
  padding: 35px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.add_item_page form {
  width: 90%;
  background: #fff;
  padding: 25px;
}
.h_header{
  font-weight: bold;
}
.checks {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.checks label {
  cursor: pointer;
}
.form-panel {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 1560px){
  .add_item_page form {
    width: 100%;
  }
}
@media screen and (max-width: 510px){
  .form-panel {
    width: 100%;
  }
}