.add-item {
  margin-top: 65px;
  min-height: 100vh;
  padding: 35px;
  display: flex;
  gap: 30px;
}
.item-type {
  height: 45px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 20px;
  cursor: pointer;
}
.item-type-panel {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.select-item-panel {
  margin: 20px 0px 0px 0px;
}
.header-inpts textarea {
  height: 150px;
  padding: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  resize: none;
}
.header-inpts input {
  height: 50px;
  padding: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
}
.header-inpts {
  display: grid;
  grid-gap: 10px;
}
.item-headers {
  display: grid;
  grid-gap: 15px;
}
.item-price input {
  height: 50px;
  padding: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px 0px 0px 8px;
}
.item-price {
  display: flex;
}
.symbol {
  height: 50px;
  background: #fff;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: gray;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid rgb(200, 200, 200);
}
.price {
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
}
.item-area input {
  height: 50px;
  padding: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
}
#main-image, #add-image {
  display: none;
}
.main-img {
  height: 270px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  margin-top: 15px;
  color: gray;
}
.main-img label {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #F7F8FAFF;
  transition: all ease .5s;
  cursor: pointer;
}
.main-img label:hover {
  background: #E4E6EBFF;
}
.img-icon {
  font-size: 25px;
}
.selected-img {
  height: 200px;
  display: grid;
  grid-gap: 10px;
}
.selected-img button, .item-image button {
  width: 100%;
  background:rgb(255, 75, 75);
  border: none;
  color: #fff;
  height: 40px;
  border-radius: 7px;
}
.an-images {
  display: grid;
  gap: 20px;
  max-height: 600px;
  max-width: 690px;
  overflow-y: scroll;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  padding: 10px;
}
.add-image {
  height: 50px;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(200, 200, 200);
  cursor: pointer;
  border-radius: 10px;
  margin: 15px 0px 15px 0px;
  padding: 7px;
}
.add-image label {
  background: #F7F8FAFF;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-item-btn {
  height: 45px;
  width: 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  margin-top: 25px;
}
@media screen and (max-width: 991px){
  .add-item {
    flex-direction: column-reverse;
  }
}