.item-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 13px;
    min-height: 350px;
    width: 100%;
    background: #fff;
    border-radius: 13px;
    cursor: pointer;
    padding: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.item-img {
    object-fit: cover;
    border-radius: 13px;
    margin-bottom: 13px;
}
.item-btns {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 12px;
}
.item-btns button {
    min-height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.brokers-all-data {
    display: grid;
    gap: 10px;
}
.brokers-all-data b {
    font-size: 18px;
    margin: 10px 0px 0px 0px;
}
.item-btns button:hover {
    opacity: 70%;
}
.item-prices {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: gray
}
.item-data-panel {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 13px;
    border-radius: 13px;
}
.item-header {
    font-size: 20px;
}
.item-location {
    color: gray;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 12px 0px 12px 0px;
}
.broker-info {
    min-width: 320px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    padding: 13px;
}
.broker-profile-img {
    object-fit: cover;
    border-radius: 13px;
}
.btn1 {
    background: orange;
}
.btn2 {
    background: green;
}
.btn3 {
    background: rgb(152, 66, 233);
}
.btn4 {
    background: #246BFDFF;
}
.btn5 {
    background: rgb(87, 139, 244);
}
.btn6 {
    background: rgb(255, 92, 92);
}
.brokers-all-data span {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 17px;
    color: gray;
}
@media screen and (max-width: 600px){
    .item-btns {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}