.account-data {
  position: fixed;
  height: 90px;
  width: 100%;
  color: #333;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 12px;
  cursor: pointer;
  z-index: 2;
}
.account-img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.account-name {
  display: flex;
  flex-direction: column;
}
